# https://editorconfig.org/
# https://prettier.io/docs/en/configuration#editorconfig

root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = tab
insert_final_newline = true
max_line_length = 80
