public/page/codemirror/** linguist-vendored
/index.html -linguist-generated
extension/Userscripts[[:space:]]Extension/Resources/page.html -linguist-generated
extension/Userscripts[[:space:]]Extension/Resources/popup.html -linguist-generated
extension/Userscripts-iOS/Base.lproj/Main.html -linguist-generated
