{
	"bracketSpacing": false,
	"plugins": ["prettier-plugin-svelte"],
	"tabWidth": 4,
	"useTabs": true,
	"overrides": [
		{"files": "*.svelte", "options": {"parser": "svelte"}},
		{"files": "*.yml", "options": {"tabWidth": 2, "useTabs": false}}
	]
}
