{
	"arrowParens": "always",
	"bracketSpacing": false,
	"bracketSameLine": false,
	"plugins": ["prettier-plugin-svelte"],
	"printWidth": 80,
	"quoteProps": "as-needed",
	"semi": true,
	"singleAttributePerLine": false,
	"singleQuote": false,
	"tabWidth": 4,
	"trailingComma": "none",
	"useTabs": true,
	"overrides": [
		{"files": "*.svelte", "options": {"parser": "svelte"}},
		{"files": "*.yml", "options": {"tabWidth": 2, "useTabs": false}}
	]
}
