<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Extension Updates</key>
    <array>
        <dict>
            <key>CFBundleIdentifier</key>
            <string>com.quoid.userscripts</string>
            <key>Developer Identifier</key>
            <string>J74Q8V8V8N</string>
            <key>CFBundleVersion</key>
            <string>1.0.0</string>
            <key>CFBundleShortVersionString</key>
            <string>1.0.0</string>
            <key>URL</key>
            <string>https://raw.githubusercontent.com/quoid/userscripts/master/userscripts.safariextz</string>
        </dict>
    </array>
</dict>
</plist>