SRC_DIR = App-Mac
ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES = YES
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
CODE_SIGN_ENTITLEMENTS = $(SRC_DIR)/App.entitlements
COMBINE_HIDPI_IMAGES = YES
ENABLE_HARDENED_RUNTIME = YES
GENERATE_INFOPLIST_FILE = YES
INFOPLIST_FILE = $(SRC_DIR)/Info.plist
INFOPLIST_KEY_CFBundleDisplayName = $(PROJECT_NAME)-$(TARGET_NAME)
INFOPLIST_KEY_CFBundleDisplayName[config=Debug] = $(PROJECT_NAME)-$(TARGET_NAME)-Debug
INFOPLIST_KEY_CFBundleDisplayName[config=Vite] = $(PROJECT_NAME)-$(TARGET_NAME)-Vite
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/../Frameworks
PRODUCT_BUNDLE_IDENTIFIER = $(APP_IDENTIFIER)
PRODUCT_NAME = $(PROJECT_NAME)
PRODUCT_NAME[config=Debug] = $(PROJECT_NAME)-Debug
PRODUCT_NAME[config=Vite] = $(PROJECT_NAME)-Vite

// Provisioning Profile
PROVISIONING_PROFILE_SPECIFIER[config=Release] = match AppStore $(APP_IDENTIFIER) macos

// Override this file
#include? "Mac-App.dev.xcconfig"
