BUNDLE_LOADER = $(TEST_HOST)
CURRENT_PROJECT_VERSION = 1
GENERATE_INFOPLIST_FILE = YES
MARKETING_VERSION = 1.0
PRODUCT_BUNDLE_IDENTIFIER = $(ORG_IDENTIFIER).UserscriptsTests
PRODUCT_NAME = $(TARGET_NAME)
SWIFT_EMIT_LOC_STRINGS = NO
TEST_HOST = $(BUILT_PRODUCTS_DIR)/Userscripts.app/Contents/MacOS/Userscripts

// Override this file
#include? "Mac-Tests.dev.xcconfig"