#include "Userscripts-Base.xcconfig"

INFOPLIST_KEY_NSHumanReadableCopyright = Copyright © 2018–2024 Justin Wasack. All rights reserved.
CURRENT_PROJECT_VERSION = 88
MARKETING_VERSION = 4.5.0

// Development
CODE_SIGN_IDENTITY = Apple Development
// Developer Team ID
DEVELOPMENT_TEAM = J74Q8V8V8N
// Organization Identifier
ORG_IDENTIFIER = com.userscripts
// Application Identifier
APP_IDENTIFIER = $(ORG_IDENTIFIER).macos
// Safari Extension Identifier
EXT_IDENTIFIER = $(APP_IDENTIFIER).Userscripts-Extension
// App Groups and Group Containers
// https://developer.apple.com/documentation/bundleresources/entitlements/com_apple_security_application-groups
IOS_SHARED_GID = group.$(ORG_IDENTIFIER).ios
MAC_SHARED_GID = $(DEVELOPMENT_TEAM).$(ORG_IDENTIFIER).macos
// App URL Scheme
APP_URL_SCHEME = userscriptsurlscheme

// Override this file
#include? "Userscripts-Release.dev.xcconfig"
