#include "Userscripts-Base.xcconfig"

INFOPLIST_KEY_NSHumanReadableCopyright = Copyright © Userscripts
IOS_APP_BUILD = 1
IOS_APP_VERSION = 1.0.0
MAC_APP_BUILD = 1
MAC_APP_VERSION = 1.0.0

// Sign to Run Locally
CODE_SIGN_IDENTITY = -
// Organization Identifier
ORG_IDENTIFIER = debug
// Application Identifier
APP_IDENTIFIER = $(ORG_IDENTIFIER).userscripts
// Safari Extension Identifier
EXT_IDENTIFIER = $(APP_IDENTIFIER).ext.safari
// App Groups and Group Containers
IOS_SHARED_GID = group.$(ORG_IDENTIFIER).userscripts
MAC_SHARED_GID = 00000.$(ORG_IDENTIFIER).userscripts
// App URL Scheme
APP_URL_SCHEME = userscriptsdebug

// Override this file
#include? "Userscripts-Debug.dev.xcconfig"