*,
*:before,
*:after  {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background-color: #272a2e;
    color: #888;
    font-family: -apple-system, Helvetica, Arial, Verdana, sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin: 0;
    -webkit-font-smoothing: antialiased;
}

#wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    align-items: center;
    display: flex;
    padding: 6px 12px;
}

.header .title {
    color: #f1f1f1;
    flex: 100%;
    font-weight: 900;
    letter-spacing: -0.50px;
}

.header .title span {
    color: #888;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0;
}

#info, 
#download,
#toggle {
    cursor: pointer;
    height: 18px;
    width: 18px;
}

#download,
#toggle {
    margin-right: 24px;
}

#info svg,
#download svg,
#toggle svg {
    fill: #888;
    height: 100%;
    transition: fill 250ms;
    width: auto;
}

#info:hover svg,
#download:hover svg,
.disabled #toggle:hover svg {
    fill: #fff;
}

#toggle {
    align-items: center;
    display: flex;
}

#toggle svg {
    fill: #4ed164;
    height: 15px;
}

.disabled #toggle svg {
    fill: #888;
}

.editor {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.buttons {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    padding: 6px 12px;
}

button {
    border: none;
    margin: 0;
    cursor: pointer;
    color: #ccc;
    padding: 4px 8px;
    text-transform: uppercase;
    font-size: 10px;
    border-radius: 3px;
    background-color: transparent;
    font-weight: 600;
}

button:disabled,
button[disabled] {
    cursor: default;
    opacity: .25;
    pointer-events: none;
}

button {
    padding-left: 2px;
    padding-right: 2px;
    position: relative;
}

button::after {
    background-color: #ccc;
    bottom: 1px;
    content: "";
    height: 1px;
    left: 0;
    opacity: 1;
    position: absolute;
    transition: all 250ms;
    width: 0;
}

button:hover::after {
    opacity: 1;
    width: 100%
}

#message {
    font-size: 11px;
    margin-right: auto;
}

.disabled-message {
    display: none;
    font-size: 11px;
    margin-right: auto;
}

.disabled .disabled-message {
    display: block;
}

.disabled #message {
    display: none;
}


#save {
    color: #e86c8a;
    margin-left: 20px;
}

button#save::after {
    background-color: #e86c8a;
}

.CodeMirror {
    background-color: #272a2e;
    color: #cfd0d2;
    font-family: Monaco, monospace;
    font-size: 12px;
    height: 100%;
    line-height: 1.4em;
}

.CodeMirror-gutters {
    background-color: #272a2e;
    border-right: 0px;
}

.CodeMirror-linenumber {
    color: #888;
}

.CodeMirror-activeline-background {
    background: rgba(0, 0, 0, 0.25);
}

.CodeMirror-cursor {
    border-left: 2px solid #f1f1f1;
}

div.CodeMirror span.CodeMirror-matchingbracket {
    color: #f1f1f1;
    border-bottom: 2px solid #77e26a;
}

.cm-s-default .CodeMirror-selected {
    background-color: rgba(150, 204, 255, 0.25);
}

.CodeMirror .CodeMirror-placeholder,
.cm-s-default .cm-comment {
    color: #68727e;
}

.cm-s-default .cm-keyword {
    color: #96c3ed;
}

.cm-s-default .cm-def {
    color: #efc371
}

.cm-s-default .cm-variable,
.cm-s-default .cm-variable-2 {
    color: inherit;
}

.cm-s-default .cm-operator {
    color: #8c99a7;
}

.cm-s-default .cm-property {
    color: #e86c8a;
}

.cm-s-default .cm-string {
    color: #f5eea2;
}

.cm-s-default .cm-string-2 {
    color: #cdabff;
}

.cm-s-default .cm-number {
    color: #77e26a;
}

.cm-s-default .cm-atom {
    color: #f275e9;
}

.cm-s-default .cm-error {
    border-bottom:2px solid #f00;
    color: #f1f1f1;
}