html {
    font-size: 100%;
    overflow: hidden;
}

body {
    background-color: var(--color-bg-secondary);
    color: var(--text-color-primary);
    font: var(--text-medium);
    letter-spacing: var(--letter-spacing-medium);
    position: relative;
    text-rendering: optimizeLegibility;
    width: 18rem;
    -webkit-font-smoothing: antialiased;
}

noscript {
    display: block;
}

button {
    border: none;
    cursor: pointer;
    padding: 0;
    user-select: none;
}

button:disabled {
    opacity: var(--opacity-disabled);
    pointer-events: none;
}

a,
.link {
    color: var(--color-blue);
    cursor: pointer;
    text-decoration: underline;
}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
