.icon {
    align-items: center;
    background-color: transparent;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    display: flex;
    font-weight: 500;
    height: 24px;
    justify-content: center;
    padding: 0;
    user-select: none;
    width: 24px;
}

.icon svg {
    fill: rgba(255, 255, 255, 0.65);
    height: 16px;
    width: 16px;
}

.icon:hover svg,
.icon.active svg {
    fill: rgba(255, 255, 255, 1.0);
}

.icon.waiting {
    cursor: default;
    pointer-events: none;
}

.icon.waiting svg:nth-child(1) {
    display: none;
}

.icon:not(.waiting) svg:nth-child(2) {
    display: none;
}

.icon.disabled {
    cursor: default;
    opacity: 0.40;
    pointer-events: none;
}
