/* stylesheets */
@import "./normalize.css";
@import "./var.css";
@import "./codemirror-theme.css";

/* global styles */
@import "global.css";

/* partials */
@import "./../partials/editor.css";
@import "./../partials/settings.css";
@import "./../partials/sidebar.css";

/* macros */
@import "./../macros/button.css";
@import "./../macros/icon.css";
@import "./../macros/loader.css";
@import "./../macros/tag.css";
@import "./../macros/toggle.css";

/* z-indexes */
noscript { z-index: 99; }
#notify, .warn { z-index: 99;}
#appLoader { z-index: 98; }
#settings { z-index: 97; }
#progress {z-index: 96; }
.dropdown ul { z-index: 96; }
.loader { z-index: 95; }
#editor .empty { z-index: 95; }
.CodeMirror-lint-tooltip { z-index: 94; }
