:root {
    --editor-font: Monaco, monospace;
    --editor-font-size: 14px;
    --editor-line-height: 24px;
    --editor-invisibles-color: rgba(255, 255, 255, 0.15);
    --editor-activeline-bg: var(--bg-sidebar);
    --editor-selected-bg: rgba(116, 178, 235, 0.20);
    --editor-number: #77e26a;
    --editor-comment: rgba(255, 255, 255, 0.35);
    --editor-def: #efc371;
    --editor-default: #cdcfd1;
    --editor-keyword: #96c3ed;
    --editor-atom: #59ebf5;
    --editor-operator: #8c99a7;
    --editor-property: #e86c8a;
    --editor-string: #f5eea2;
    --editor-string-2: #cdabff;
    --editor-error: var(--color-red);
    --editor-cursor: #e3e7eb;
    --editor-matchingbracket-color: #fff;
    --editor-matchingbracket-border: var(--editor-number);
    --editor-nonmatchingbracket: var(--editor-error);
    --editor-invisibles: rgba(255, 255, 255, 0.25);
}

.CodeMirror {
    background-color: transparent; /* check */
    color: var(--editor-default);
    font-family: var(--editor-font);
    font-size: var(--editor-font-size);
    font-weight: 400;
    height: 100%;
    line-height: var(--editor-line-height);
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.CodeMirror-gutters {
    background-color: transparent; /* change */
    border-right: 0px;
}

.CodeMirror-activeline-background,
.CodeMirror-activeline-gutter {
    background-color: var(--editor-activeline-bg);
}

.CodeMirror-linenumber {
    color: white; /* change */
    font-size: var(--editor-font-size);
    opacity: 0.25;
}

.CodeMirror-activeline .CodeMirror-linenumber {
    opacity: 0.50;
}

.CodeMirror-cursor {
    border-left: 2px solid #eeeff1; /* check */
}

.CodeMirror-hints {
    background-color: var(--border-dark);
    border: 1px solid rgba(5, 6, 7, 0.65);
    box-shadow: 0 8px 48px -8px rgba(5, 6, 7, 0.54);
    font-family: var(--editor-font);
    font-size: 11px;
}

.CodeMirror-hint {
    color: var(--fc2);
}

li.CodeMirror-hint-active {
    background-color: var(--link-color);
    color: var(--border-dark);
}

.cm-s-default .CodeMirror-selected {
    background-color: var(--editor-selected-bg);
}

div.CodeMirror span.CodeMirror-matchingbracket {
    color: var(--editor-matchingbracket-color);
    border-bottom: 2px solid var(--editor-matchingbracket-border);
}

div.CodeMirror span.CodeMirror-nonmatchingbracket {
    color: var(--editor-nonmatchingbracket);
}

.CodeMirror .CodeMirror-placeholder,
.cm-s-default .cm-comment {
    color: var(--editor-comment);
}

.cm-s-default .cm-keyword {
    color: var(--editor-keyword);
}

.cm-s-default .cm-def {
    color: var(--editor-def);
}

.cm-s-default .cm-variable,
.cm-s-default .cm-variable-2 {
    color: inherit;
}

.cm-s-default .cm-operator {
    color: var(--editor-operator);
}

.cm-s-default .cm-property {
    color: var(--editor-property);
}

.cm-s-default .cm-string {
    color: var(--editor-string);
}

.cm-s-default .cm-string-2 {
    color: var(--editor-string-2);
}

.cm-s-default .cm-number {
    color: var(--editor-number);
}

.cm-s-default .cm-atom {
    color: var(--editor-atom);
}

.cm-s-default .cm-error {
    color: var(--color-red);
    /* color: white; */
    /* border-bottom: 2px solid var(--editor-error); */
    /* color: var(--editor-default); */
}

.CodeMirror .cm-whitespace::before,
.CodeMirror .CodeMirror-code > div > pre > span::after,
.CodeMirror .CodeMirror-line > span::after {
    color: var(--editor-invisibles-color);
}

.cm-s-default .cm-variable-3,
.cm-s-default .cm-builtin,
.cm-s-default .cm-qualifier,
.cm-s-default .cm-tag {
    color: var(--editor-def);
}

.CodeMirror-lint-marker-multiple {
    background: none;
}

.CodeMirror-lint-marker-error,
.CodeMirror-lint-marker-warning {
    background: var(--bg-sidebar);
    border: 2px solid var(--color-yellow);
    border-radius: 50%;
    height: 8px;
    left: 8px;
    position: relative;
    width: 8px;
}

.CodeMirror-lint-marker-error {
    border-color: var(--editor-error);
}

.CodeMirror-lint-mark-warning {
    background: none;
    border-bottom: 2px solid var(--color-yellow);
}

.CodeMirror-lint-mark-error,
.CodeMirror-lint-mark-warning  {
    background: none;
    border-bottom: 2px solid var(--editor-error);
}

.CodeMirror-lint-mark-warning {
    border-bottom: 2px solid var(--color-yellow);
}

.CodeMirror-lint-tooltip {
    background-color: var(--border-dark);
    border: 1px solid rgba(5, 6, 7, 0.65);
    border-radius: var(--border-radius);
    box-shadow: 0 8px 48px -8px rgba(5, 6, 7, 0.54);
    color: var(--fc2);
    font: var(--fs2);
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    padding: 7px 8px;
}

.CodeMirror-lint-message-error,
.CodeMirror-lint-message-warning {
    background: none;
    padding-left: 16px;
    position: relative;
}

.CodeMirror-lint-message-error::before,
.CodeMirror-lint-message-warning::before {
    background-color: var(--border-dark);
    border: 2px solid var(--color-yellow);
    border-radius: 50%;
    content: "";
    height: 8px;
    left: 0;
    position: absolute;
    top: 4px;
    width: 8px;
}

.CodeMirror-lint-message-error::before {
    border-color: var(--editor-error);
}
