html {
    height: 100vh;
    overflow: hidden;
}

body {
    background-color: var(--bg-main);
    color: var(--fc1);
    display: flex;
    flex-direction: column;
    font-family: var(--ff);
    font-size: 14px;
    font-weight: 400;
    height: 100%;
    line-height: 21px;
    position: relative;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

#wrapper {
    display: flex;
    overflow: hidden;
}

a {
    color: var(--link-color);
    font-weight: 400;
}

#appLoader {
    align-items: center;
    background-color: var(--bg-main);
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    opacity: 1;
    position: absolute;
    top: 0;
    visibility: visible;
    width: 100%;
}

#appLoader img {
    height: 24px;
}

body:not(.init) #appLoader {
    opacity: 0;
    transition: visibility 250ms linear 0s, opacity 250ms;
    visibility: hidden;
}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.demo,
#notify,
noscript {
    background-color: var(--color-red);
    display: block;
    padding: 8px;
    text-align: center;
    width: 100%;
}

.demo {
    font-size: 11.5px;
    line-height: 1;
    padding: 4px;
}

#notify {
    display: none;
}

.link {
    color: var(--link-color);
    cursor: pointer;
    text-decoration: underline;
}
