:root {
    /* colors */
    --bg-editor: olive;
    --bg-main: #33373a;
    --bg-sidebar: #2e3236;
    --border-dark: #1d2023;
    --border-light: rgba(255, 255, 255, 0.15);
    --border-radius: 3px;
    --link-color: #74b1eb;
    --color-red: #ff453a;
    --color-yellow: #ffd60a;

    /* font styles */
    --ff: system-ui, -apple-system, "Helvetica Neue", "Helvetics", sans-serif;

    --fs1: 400 10px/12px var(--ff);
    --ls1: -0.13;

    --fs2: 300 14px/21px var(--ff);
    --ls2: -0.28px;

    --fs3: 500 16px/24px var(--ff);
    --ls3: -0.47px;

    --fs4: 400 20px/24px var(--ff);
    --ls4: -0.51px;

    /* font colors */
    --fc1: rgba(255, 255, 255, 1.0);
    --fc2: rgba(255, 255, 255, 0.75);
    --fc3: rgba(255, 255, 255, 0.60);
    --fc4: rgba(255, 255, 255, 0.40);
}
