html {
    font-size: 100%;
    height: 100vh;
    overflow: hidden;
}

body {
    background-color: var(--color-bg-secondary);
    color: var(--text-color-primary);
    font: var(--text-medium);
    height: 100%;
    letter-spacing: var(--letter-spacing-medium);
    position: relative;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
}

@media screen and (height <= 400px) {
    html {
        font-size: 80%;
    }

    p {
        font: var(--text-large);
        letter-spacing: var(--letter-spacing-large);
    }
}

@media screen and (height >= 700px) and (width >= 600px) {
    html {
        font-size: 150%;
    }
}

#app {
    height: 100%;
}

button {
    border: none;
    cursor: pointer;
    padding: 0;
    user-select: none;
}

.link {
    background: none;
    color: var(--color-blue);
    cursor: pointer;
    text-decoration: underline;
}