html {
	height: auto;
	overflow: visible;
	overscroll-behavior: none;
}

body {
	background-color: var(--color-bg-primary);
	color: var(--text-color-primary);
	font: var(--text-default);
	letter-spacing: var(--letter-spacing-medium);
	text-rendering: optimizelegibility;
	-webkit-font-smoothing: antialiased;
}

/* ios */
@supports (-webkit-touch-callout: none) {
	/**
	 * Dynamic Type
	 * https://support.apple.com/102453
	 * https://webkit.org/blog/3709/using-the-system-font-in-web-content/
	 * https://developer.apple.com/library/archive/releasenotes/General/WhatsNewInSafari/Articles/Safari_7_0.html#//apple_ref/doc/uid/TP40014305-CH5-SW10
	 * https://github.com/w3c/csswg-drafts/issues/3708
	 */
	@supports (font: -apple-system-body) {
		html {
			/* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
			font: -apple-system-body; /* default 17px */
		}
	}

	/* Avoid page zoom */
	input,
	textarea,
	select {
		font-size: max(1rem, 16px);
	}
}

#app {
	flex-direction: column;
}

address,
article,
aside,
button,
div,
footer,
header,
hgroup,
main,
nav,
search,
section {
	display: flex;
}

button {
	border: none;
	cursor: pointer;
	padding: 0;
	user-select: none;
}

button:disabled {
	opacity: var(--opacity-disabled);
	pointer-events: none;
}

a,
.link {
	background: none;
	color: var(--color-blue);
	cursor: pointer;
	text-decoration: underline;
}

.truncate {
	flex-grow: 1;
	min-width: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.flexible_space {
	flex-grow: 1;
}

x-markdown {
	display: flex;
	flex-direction: column;
	overflow: scroll;
	text-align: left;
	gap: var(--gap);
	padding: 0 3rem;
	--gap: 0.75rem;
}

@media (width < 500px) {
	x-markdown {
		padding: 0 1.5rem;
	}
}

x-markdown :is(h1, h2, h3, h4, h5, h6) {
	padding: 0;
	margin: 0;
}

x-markdown ul {
	display: flex;
	flex-direction: column;
	gap: var(--gap);
	padding-left: 1.5rem;
}

x-markdown > ul ul {
	margin-top: var(--gap);
}
