html {
    font-size: 100%;
    height: 100vh;
    overflow: hidden;
}

body {
    background-color: var(--color-bg-primary);
    color: var(--text-color-primary);
    font: var(--text-default);
    height: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

noscript {
    display: block;
}

main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

a,
.link {
    color: var(--color-blue);
    cursor: pointer;
    text-decoration: underline;
}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

button {
    border: none;
    cursor: pointer;
    padding: 0;
    user-select: none;
}

button:disabled {
    opacity: var(--opacity-disabled);
    pointer-events: none;
}
