{% from "icon.html" import icon %}
{% from "toggle.html" import toggle %}
<div id="settings">
    <div class="modal">
        <div class="modal-section">
            <div class="title">
                <div data-localize="settingsTitle01">init</div>
                {{ icon("close", "settingsHide") }}
            </div>
            <div class="row">
                <div data-localize="settingAutoHint">init</div>
                {{ toggle("true", "autoShowHints") }}
            </div>
            <div class="row">
                <div data-localize="settingHideDescriptions">init</div>
                {{ toggle("false", "hideDescriptions") }}
            </div>
            <!-- <div class="row">
                <div>Javascript Lint</div>
                {#{ toggle("true", "lint") }#}
            </div> -->
            <div class="row">
                <div data-localize="settingShowInvisibles">init</div>
                {{ toggle("true", "showInvisibles") }}
            </div>
            <div class="row">
                <div data-localize="settingVerboseLog">init</div>
                {{ toggle("false", "verbose") }}
            </div>
            <div class="row">
                <div data-localize="settingTabSize">init</div>
                <select id="tabSize">
                    <option value="2">2</option>
                    <option value="4" selected>4</option>
                </select>
            </div>
            <div class="row">
                <div data-localize="settingSaveLocation">init</div>
                <div>
                    <div class="truncate link" id="saveLocation">init</div>
                </div>
            </div>
            <div id="blacklist" class="row">
                <div id="blacklistStatus">
                    <span data-localize="settingBlacklist">init</span>
                    <img inline src="./img/loader.svg">
                    <div data-localize="blacklistSaved">init</div>
                </div>
                <textarea
                    placeholder="init"
                    data-localize="blacklist"
                    spellcheck="false"
                ></textarea>
            </div>
        </div>
        <div class="modal-section">
            <div class="title" data-localize="settingsTitle02">init</div>
            <p data-localize="settingsText">init</p>
        </div>
    </div>
</div>
