#settings {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.45);
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    /* this is the "transition out" */
    transition: visibility 375ms linear 0ms, opacity 150ms linear 0;
    visibility: hidden;
    width: 100%;
}

.modal {
    background-color: var(--bg-sidebar);
    border-radius: var(--border-radius);
    color: var(--fc2);
    font-weight: 300;
    letter-spacing: var(--ls2);
    max-height: 80%;
    opacity: 0;
    overflow-y: scroll;
    transform: translateY(50px);
    transition: opacity 150ms linear 75ms, transform 150ms ease-in-out 75ms;
    width: 440px;
}

.modal .title {
    align-items: center;
    border-bottom: 1px solid var(--border-dark);
    color: var(--fc1);
    display: flex;
    font: var(--fs3);
    letter-spacing: var(--ls3);
    padding: 16px 16px 7px 16px;
}

.modal .title div:not(.icon) {
    flex: 1;
}

.modal .row {
    align-items: center;
    border-bottom: 1px solid var(--border-dark);
    display: flex;
    font-size: 14px;
    line-height: 16px;
    padding: 16px;
}

.modal .row > div {
    flex-grow: 1;
}

.modal p {
    margin: 0 16px 24px 16px;
}

/* target the last title element (for info) and custom style */
.modal .modal-section:last-child .title {
    border: none;
    margin-top: 8px;
}

body.settings #settings {
    opacity: 1;
    /* this is the "transition in" */
    transition: visibility 0s linear 0ms, opacity 150ms linear 0;
    visibility: visible;
}

body.settings #settings .modal {
    opacity: 1;
    transform: translateY(0);
}

#blacklist {
    flex-wrap: wrap;
}

#blacklistStatus {
    align-items: center;
    display: flex;
}

#blacklistStatus > div {
    display: none;
    font-size: 13px;
    margin-left: 8px;
    opacity: 0.50;
}

#blacklistStatus svg {
    display: none;
    height: 12px;
    margin-left: 8px;
    width: 12px;
}

#blacklistStatus.saving svg {
    display: block;
}

#blacklistStatus.saved > div {
    display: block;
}

textarea {
    background-color: var(--border-dark);
    border: none;
    border-radius: 3px;
    color: inherit;
    display: block;
    flex-basis: 100%;
    font-family: var(--editor-font);
    font-size: 13px;
    height: 64px;
    line-height: 16px;
    margin-top: 8px;
    opacity: 0.75;
    padding: 8px;
    width: 100%;
}

textarea:focus {
    opacity: 1;
    outline: none;
}

.modal .row > div[data-localize="settingSaveLocation"] {
    flex-grow: 0;
}

.saveLocationContainer {
    display: flex;
}

#saveLocation {
    display: block;
    font-size: 13px;
    max-width: 280px;
    margin-left: auto;
    text-align: right;
}

#changeSaveLocation {
    flex-grow: 0;
    height: 16px;
    margin-left: 8px;
    width: 16px;
}

#changeSaveLocation svg {
    height: 100%;
    width: auto;
}
