#sidebar {
    background-color: var(--bg-sidebar);
    border-right: 1px solid var(--border-dark);
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 384px;
}

.sidebar-header {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 16px 24px;
}

.sidebar-header .logo {
    display: flex;
    flex: 1;
}

.sidebar-header .logo img {
    height: 20px;
    pointer-events: none;
}

.dropdown {
    position: relative;
}

.dropdown ul {
    background-color: var(--border-dark);
    border: 1px solid rgba(5, 6, 7, 0.65);
    border-radius: var(--border-radius);
    box-shadow: 0 8px 48px -8px rgba(5, 6, 7, 0.54);
    left: 0;
    padding: 2px;
    position: absolute;
    top: 100%;
    white-space: nowrap;
}

.dropdown li {
    border-radius: 2px;
    color: var(--fc2);
    cursor: pointer;
    letter-spacing: var(--ls1);
    padding: 8px 16px;
}

.dropdown li:hover {
    background-color: var(--link-color);
    color: var(--border-dark);
}

.dropdown .warn {
    color: red;
}

.dropdown svg {
    pointer-events: none;
}

.dropdown:not(.show) > ul {
    display: none;
}

#filter {
    flex-basis: 100%;
    margin-top: 16px;
    position: relative;
}

#filter [type="search"] {
    background-color: var(--border-dark);
    border: none;
    border-radius: 3px;
    color: inherit;
    display: block;
    opacity: 0.75;
    padding: 6.5px 16px;
    width: 100%;
}

#filter [type="search"]:focus {
    opacity: 1;
    outline: none;
}

#filter [type="search"] {
    padding-left: 40px;
    padding-right: 40px;
}

#filter .icon {
    left: 8px;
    opacity: 0.25;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#filter .icon {
    pointer-events: none;
}

#scripts {
    border-top: 1px solid var(--border-dark);
    flex: 1;
    overflow-y: auto;
    position: relative;
}

#placeholder {
    display: none;
}

.script {
    background-color: var(--bg-sidebar);
    border-bottom: 1px solid var(--border-dark);
    cursor: pointer;
    padding: 24px 24px 23px 24px;
}

.script-header {
    align-items: center;
    display: flex;
}

.script-header .tag {
    margin-right: 8px;
}

.script[data-type="css"] .script-header .tag:not(.css) {
    display: none;
}

.script[data-type="js"] .script-header .tag:not(.js) {
    display: none;
}

.script-header .title {
    flex: 1;
    font: var(--fs3);
    letter-spacing: var(--ls3);
    padding-right: 8px;
}

.script .description {
    color: var(--fc2);
    display: -webkit-box;
    font: var(--fs2);
    letter-spacing: var(--ls2);
    margin-top: 2px;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.no-descriptions .script .description {
    height: 0;
    margin: 0;
    visibility: hidden;
}

.sidebar-footer {
    align-items: center;
    color: var(--fc2);
    display: flex;
    font: var(--fs1);
    letter-spacing: var(--ls1);
    padding: 16px 24px;
}

.sidebar-footer > div:not(.icon) {
    flex: 1;
}

.script.active {
    background-color: rgba(116, 177, 235, 0.10);
    cursor: default;
}

body.scripts-loading #scripts {
    overflow: hidden;
}

body.editor-loading .script {
    pointer-events: none;
}

/* disable buttons/filter when scripts are loading */
body.scripts-loading #sidebar .icon,
body.scripts-loading #filter {
    opacity: 0.40;
    pointer-events: none;
}

/* disabled sidebar interaction when saving */
body.saving #sidebar button,
body.saving #filter,
body.saving #sidebar .script {
    opacity: 0.40;
    pointer-events: none;
}

/* disable toggle for new scripts */
.script.temp .toggle {
    opacity: 0.40;
    pointer-events: none;
}

/* filter logic */
#scripts.show-all .script:not(#placeholder) {
    display: block;
}

#scripts.show-css .script:not([data-type="css"]),
#scripts.show-js .script:not([data-type="js"]),
#scripts.show-disabled .script:not(.disabled),
#scripts.show-enabled .script:not(.enabled) {
    display: none;
}

#scripts.show-css.show-js .script[data-type="css"],
#scripts.show-css.show-js .script[data-type="js"],
#scripts.show-enabled.show-disabled .script.disabled,
#scripts.show-enabled.show-disabled .script.enabled,
#scripts.show-enabled.show-disabled.show-css .script.disabled,
#scripts.show-enabled.show-disabled.show-css .script.enabled,
#scripts.show-enabled.show-disabled.show-css .script[data-type="css"]
#scripts.show-enabled.show-disabled.show-js .script.disabled,
#scripts.show-enabled.show-disabled.show-js .script.enabled,
#scripts.show-enabled.show-disabled.show-js .script[data-type="js"] {
    display: block;
}

/* apply these styles until this point */
@media (max-width : 900px) {
    #sidebar {
        width: 296px;
    }
}
