html {
	font-size: 100%;
	overflow: hidden;
}

body {
	background-color: var(--color-bg-secondary);
	color: var(--text-color-primary);
	font: var(--text-medium);
	letter-spacing: var(--letter-spacing-medium);
	text-rendering: optimizelegibility;
	-webkit-font-smoothing: antialiased;
	position: relative;
	width: 18rem;
	height: 26rem;
}

/* ios */
@supports (-webkit-touch-callout: none) {
	html {
		font-size: 125%;
		overflow: visible;
		overscroll-behavior: none;
	}

	/**
	 * Dynamic Type
	 * https://support.apple.com/102453
	 * https://webkit.org/blog/3709/using-the-system-font-in-web-content/
	 * https://developer.apple.com/library/archive/releasenotes/General/WhatsNewInSafari/Articles/Safari_7_0.html#//apple_ref/doc/uid/TP40014305-CH5-SW10
	 * https://github.com/w3c/csswg-drafts/issues/3708
	 */
	@supports (font: -apple-system-body) {
		html {
			/* stylelint-disable-next-line declaration-property-value-no-unknown,font-family-no-missing-generic-family-keyword */
			font: -apple-system-title3; /* default 20px */
		}
	}

	body {
		width: auto;
		min-width: 16rem;
		height: auto;
	}

	/* non-fixed width need to stretch */
	@media (width < 320px) {
		body {
			width: 18rem;
			min-height: 16rem;
		}
	}

	/* Avoid page zoom */
	input,
	textarea,
	select {
		font-size: max(1rem, 16px);
	}
}

noscript {
	display: block;
}

#app {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-between;
}

button {
	border: none;
	cursor: pointer;
	padding: 0;
	user-select: none;
}

button:disabled {
	opacity: var(--opacity-disabled);
	pointer-events: none;
}

a,
.link {
	background: none;
	color: var(--color-blue);
	cursor: pointer;
	text-decoration: underline;
}

.truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
