<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Userscripts Safari</title>
        <link inline rel="stylesheet" href="./lib/cm/codemirror.css">
        <!-- <link inline rel="stylesheet" href="./lib/cm/addon/lint/lint.css"> -->
        <link inline rel="stylesheet" href="./lib/cm/addon/hint/show-hint.css">
        <link inline rel="stylesheet" href="./lib/cm/addon/fold/foldgutter.css">
        {% if development %}
        <link inline rel="stylesheet" href="_main.css">
        {% elseif demo %}
        <link inline rel="stylesheet" href="../demo/_main.css">
        {% else %}
        <link inline rel="stylesheet" href="../build/_main.css">
        {% endif %}
    </head>
    <body class="init scripts-loading editor-loading">
        <noscript>Please enable Javascript to use this app</noscript>
        <div id="notify">This is a notify message</div>
        <div id="progress"></div>
        <div id="wrapper">
            {% include "sidebar.html" %}
            {% include "editor.html" %}
        </div>
        {% include "settings.html" %}
        <div id="appLoader"><img inline src="./img/logo.png"></div>
        <!-- htmlmin:ignore -->
        <script inline src="./lib/cm/codemirror.js"></script>
        <!-- <script inline src="./lib/jshint.js"></script>
        <script inline src="./lib/csslint.js"></script> -->
        <script inline src="./lib/cm/addon/hint/show-hint.js"></script>
        <script inline src="./lib/cm/addon/hint/javascript-hint.js"></script>
        <script inline src="./lib/cm/addon/hint/css-hint.js"></script>
        <script inline src="./lib/cm/addon/active-line.js"></script>
        <script inline src="./lib/cm/addon/matchbrackets.js"></script>
        <script inline src="./lib/cm/addon/closebrackets.js"></script>
        <script inline src="./lib/cm/addon/comment.js"></script>
        <script inline src="./lib/cm/addon/fold/foldcode.js"></script>
        <script inline src="./lib/cm/addon/fold/foldgutter.js"></script>
        <script inline src="./lib/cm/addon/fold/brace-fold.js"></script>
        <script inline src="./lib/cm/addon/fold/indent-fold.js"></script>
        <script inline src="./lib/cm/addon/invisibles.js"></script>
        <!-- <script inline src="./lib/cm/addon/lint/lint.js"></script>
        <script inline src="./lib/cm/addon/lint/js-lint.js"></script>
        <script inline src="./lib/cm/addon/lint/css-lint.js"></script> -->
        <script inline src="./lib/cm/mode/javascript.js"></script>
        <script inline src="./lib/cm/mode/css.js"></script>
        <!-- htmlmin:ignore -->
        {% if development or demo %}
        <script inline src="./js/dev.js"></script>
        {% endif %}
        <script inline src="./js/helpers.js"></script>
        <script inline src="./js/messages.js"></script>
        <script inline src="./js/main.js"></script>
        {% if not development and not demo %}
        <script>
            safari.self.addEventListener("message", ___a.handleMessage);
        </script>
        {% endif %}
    </body>
</html>
